$green: #5cd65c;
$yellow: #ffff99;
$red: #e62e00;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}


.jumbotron {
	background-color: $green;
	Color: black;
	@include margenes(15px, 5px);
	height: 450px;
	background-image: url(/imagenes/Plaza.png);
    background-repeat: no-repeat;
	background-position: center center;
    background-size: cover;
    text-shadow: black 0.3em 0.3em 0.3em;
}

.btn-color {
	background-color: $yellow;
}

footer {
	padding: 15px 10px 0 15px;
	background-color: $green;
	@include margenes(20px, 0px);
}

.cat-prod{
	flex: 1 250px;
	@include margenes(10px, 0px);
}

.footer-icon{
	padding-right: 10px;
}

.card-seccion{
	flex: 1 250px;
	padding: 1px 7px 10px 7px;
	@include margenes(10px, 0px);
}

.tab-content{
	padding-top: 5px;
}