.bordered {
  border-top: dotted 1px black;
  border-bottom: solid 2px black;
}
.jumbotron {
  background-color: #4acf4a;
  Color: black;
  margin-top: 15px;
  margin-bottom: 5px;
  height: 450px;
  background-image: url(/imagenes/Plaza.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-shadow: black 0.3em 0.3em 0.3em;
}
.btn-color {
  background-color: #ffff4d;
}
footer {
  padding: 15px 10px 0 15px;
  background-color: #4acf4a;
  margin-top: 20px;
  margin-bottom: 0px;
}
.cat-prod {
  flex: 1 250px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.footer-icon {
  padding-right: 10px;
}
.card-seccion {
  flex: 1 250px;
  padding: 1px 7px 10px 7px;
  margin-top: 10px;
  margin-bottom: 0px;
  border-top: dotted 1px black;
  border-bottom: solid 2px black;
}
.tab-content {
  padding-top: 5px;
}
