@green: #5cd65c;
@yellow: #ffff4d;
@red: #ff704d;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.bordered {
  border-top: dotted 1px black;
  border-bottom: solid 2px black;
}

.jumbotron {
  background-color: @green;
  Color: black;
  .margenes(15px, 5px);
  height: 450px;
  background-image: url(/imagenes/Plaza.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-shadow: black 0.3em 0.3em 0.3em; 
  }

.btn-color {
  background-color: @yellow;
  }

footer {
  padding: 15px 10px 0 15px;
  background-color: @green;
  .margenes(20px, 0px); 
  }

.cat-prod {
  flex: 1 250px;
  .margenes(10px, 0px);  
  }

.footer-icon {
  padding-right: 10px; 
  }

.card-seccion {
  flex: 1 250px;
  padding: 1px 7px 10px 7px;
  .margenes(10px, 0px);
  .bordered();
  }

.tab-content {
  padding-top: 5px;

  }
